* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh; /* Full viewport height */
    font-family: Arial, sans-serif;
}

.bg-gold-500 {
    background-color: #c79542; /* Gold color */
}

.hover\:bg-gold-600:hover {
    background-color: #a67d35; /* Darker gold for hover */
}

/* For custom paddings and sizes if needed */
.detail-box {
    padding: 12px;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.profile-section{
    background-color: rgba(240, 240, 245, 0.6);
    border-radius: 5px;
    
}




