.ipamis {
    flex: 1;
    padding-top: 5px;
    margin: 0;
    display: flex;
    background-color: white;
    height: 100%; /* Full height of body */
    flex-direction: column;
}


.custom-line {
    width: 100%;
    border: none;
    border-top: 1px solid #bfbfbf;
    margin-top: 10px; 
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header h2 {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 2px;
    color: #91969f;
    margin: 0;
    font-family: 'Monserrat';
    font-weight: 900;
    font-size: larger;
}

.header-logo {
    width: 75px; /* Adjust size as needed */
    height: auto;
    padding-right: 20px;
}