/* Custom colors */
.text-gold {
    color: gold;
}

.bg-gold {
    background-color: gold;
}

.text-lightblue {
    color: #ADD8E6;
}


.header {
    position: relative;
}

.border-line {
    border-top: 1px solid rgba(255, 255, 255, 0.3); /* Light white line */
    width: 100%;
    bottom: -8px; /* Adjusts the line position */
    position: absolute;
}


.login-container {
    background-color: rgba(3, 28, 62, 0.5); /* Semi-transparent black overlay */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.log{
    transform: translateY(15px);
    animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.but:hover{
    font-weight: bold;
    background-color: blue;
    opacity: 80%;
    color: gold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

